<html>

<div class= header>
    <h2>BrickMe</h2>
</div>


<head>
<p>Build my profile</p>    
</head>

<main>
  <p>Name: </p>
  <form action="/submit-name">  <input type = "text"></input></form>
  <div></div>
  <p>Email: </p>
  <div></div>
  <p>Password: </p>
  <div></div>
  <p>Country: </p>
  <div></div>
  <p>Office No.:</p>
  
  <form action="/submit-cat-photo">
    <input type="text" placeholder="cat photo URL">
  </form>
</main>

  

<footer></footer>

</html>
