<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/investors.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        
</head>

<body>
    <% include navbar.ejs %>

    <br>
    
    
    
    
    <div class="row">
            <div class="col-sm-4">
              <div class="card text-center">
                <div class="card-body">
                        <img class="card-img-bottom" src="\img\微信图片_20191223200426.png" alt="Card image cap">
                  <h2 class="card-title">contract</h2>
                  
                  <a href="/" class="btn btn-primary">Back</a>
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-4">
              <div class="card text-center">
                <div class="card-body">
                    <img class="card-img-bottom" src="https://cdn4.iconfinder.com/data/icons/photo-illustration-categories-1/512/themes_0016-512.png" alt="Card image cap">
                  <h2 class="card-title">financing institution</h2>
                  
                  <a href="#" class="btn btn-primary">Find Companies</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                    <div class="card text-center">
                      <div class="card-body">
                            <img class="card-img-bottom" src="https://cdn2.iconfinder.com/data/icons/scenarium-vol-3-1/128/013_cards_pay_money_payment_finance_shopping-256.png" alt="Card image cap">
                        <h2 class="card-title">Peer-to-peer lending</h2>
                        
                        <a href="/investors/bank" class="btn btn-primary">Find Companies</a>
                      </div>
                    </div>
                  </div>
          </div> -->
</body>

</html>