<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <% include navbar.ejs %>

    <div class="container">
        <br>
        <h3>Bonds</h3>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 30%" scope="col">Issuer</th>
                    <th style="width: 15%" scope="col">Grade</th>
                    <th style="width: 15%" scope="col">Maturity Date</th>
                    <th style="width: 20%" scope="col">Coupon</th>
                    <th style="width: 20%" scope="col">Predictive Accuracy</th>
                </tr>
            </thead>

            <tbody>
                <% for (int i = 0; i < data.length; i++) { %>
                <tr>
                    <td>data[i].issuer</td>
                    <td>data[i].grade</td>
                    <td>data[i].maturity_date</td>
                    <td>data[i].coupon</td>
                    <td>data[i].predictive_accuracy</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>