<!DOCTYPE html>
<html>

  <style>
    .h{
      text-align: center;
    }
    .p{
      text-indent:2em;
    }
    .button {
      background-color: #e7e7e7; color: black;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }
    .button:hover {
      
    background-color: #555555; /* Green */
    color: white;
}
    </style>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <% include navbar.ejs %>

    <br>
    
    
    
    
    <div class="row">
            
                    <div class="card mb-3">
                            <div class="row no-gutters">
                              <div class="col-md-4">
                                <img src="\img\微信图片_20191223134236.jpg" class="card-img" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h2 class="card-title">ZZB Bank</h2>
                                  <h5 class="card-title">Credit Rating: AAA</h5>
                                  <p class="card-text">YG Enter</p>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                                  <script>
                                        function jump3(){
                                            window.location.href="/request";
                                        }
                                    </script>
                                  <p>     




                                  </p>
                                  <input type="button" value="Loan It" onclick=javascrtpt:jump3() class="button">
                                </div>
                              </div>
                            </div>
                          </div>
            
        </div>

    </body>
    
    </html>